* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "h1";
  src: url("./assets/fonts/h1/TrajanPro-Regular.ttf");
}
body {
  background-color: #11141d;

  /* font-family: 'Roboto', sans-serif; */
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
